<%- include('../layout/header') %> 
<%- include('../partials/adminHeader.ejs') %> 

<section>
    <div class="container">
        <!-- <div class="row mt-4">
            <a href="" class="btn btn-success">Add Product</a>
        </div> -->

        
          <table id="myTable" class="table mt-5">
        
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Order Id</th>
      <th scope="col">Date</th>
      <th scope="col">Bill Amount</th>
      <th scope="col">Mode of Payment</th>
      <th scope="col"></th>
      <!-- <th>Image</th> -->
      <!-- <th>       Edit/Delete</th> -->
      
    </tr>
  </thead>
  <tbody>
    <!-- {{#each products}} -->
    <% for(let i=0;i<orders.length;i++) { %> 
        <tr>
          <th scope="row"><%= i+1  %> </th>
          
    
          <td><%= orders[i]._id %> </td>
          <td><%= orders[i].orderDate.toLocaleDateString()%></td>
          <td><%= orders[i].orderBill %></td>
          <td><%= orders[i].paymentMethod %></td>


          <!-- <td><img style="width:50px;height:50px" src="" alt=""></td> -->
          <td>
            <% //if(users[i].blockStatus){ %> 
                <!-- <form action="admin_panel/user-management/unblock?id=<%=// users[i]._id %> " method="post">
                <button  class="btn btn-primary" onclick="return  confirm('Do you want to unblock <%=// users[i].name %>')" >View Details</button>
            </form> -->
                
            
            <% //}else{ %> 
                <a href="/view-orders?id=<%= orders[i]._id %> ">
                    <button class="btn btn-success" >View Details</button>
                </a>
                
            <% //} %> 
          </td>
        </tr>
        <% } %> 
        <!-- {{/each}} -->
  </tbody>
</table>
    </div>
</section>

<script>
  $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
