<%- include('../layout/header') %>
<%- include('../partials/adminHeader.ejs')  %> 

<section class="h-100 h-custom" style="background-color: rgb(0, 0, 0);">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px; border: 1px solid black;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0 text-black">Coupon</h1>
                      <h6 class="mb-0 text-muted"><%=// categories.length %> CouponCodes </h6>
                    </div>
                    <hr class="my-4">                  
                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                        <table id="example" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Slno</th>
                                    <th>CouponCode</th>
                                    <th>CouponBill</th>
                                    <th>MinBill</th>
                                    <th>CouponExpiry</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <% for(i=0;i<coupon.length;i++){ %> 
                                    <tr>
                                        <td><%= i+1 %></td>
                                        <td><%= coupon[i].couponCode %></td>
                                        <td><%= coupon[i].couponValue%></td>
                                        <td><%= coupon[i].minBill %></td>
                                        <td><%= coupon[i].couponExpiry.toLocaleDateString() %></td>
                                        <td><%= coupon[i].status %></td>
                                        <td>
                                            <div style="display: flex;">
                                            <!-- <form action="/admin-panel/category-management?id=<%=// index %>&edit=true" method="post" style="margin-right: 10px;">
                                            <button style="border : none; background : none;" type="submit">
                                                <a href="/admin-panel/category-management?index=<%= //index %>&edit=true" class="text-black"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                            </form> -->
                                            <form action="/delete-coupon?id=<%= coupon[i]._id %> " method="post">
                                              <button type="submit" class="btn btn-secondary">Delete</button>
                                            </form>
                                            </div>
                                    </tr>
                                <% } %> 
                            </tbody>
                        </table>
                    </div>
  
                    <hr class="my-4">
                    
                    
                    <!-- <div class="pt-5">
                      <h6 class="mb-0"><a href="/user_home" class="text-body"><i
                            class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                    </div> -->
                  </div>
                </div>
                <div class="col-lg-4 bg-grey">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Add Coupon</h3>
                    <hr class="my-4">
  
                    
                   
                   
  
                    <h5 class="text-uppercase mb-3">Add new Coupon</h5>
                  <form action="/add-coupon" method="post">  
                    <div class="form-group mt-3"> 
                        <input required placeholder="CouponName" type="description" name="couponcode" class="form-control" id="description"> 
                    </div>
                    <div class="form-group mt-3"> 
                        <input required placeholder="CouponValue" type="number" name="couponvalue" class="form-control"> 
                    </div>
                    <div class="form-group mt-3"> 
                        <input type="number" name="minbill" class="form-control" placeholder="MinimumBill"> 
                    </div>
                    <div class="form-group mt-3"> 
                        <input type="date" name="expirydate" class="form-control"> 
                    </div>
                      <% if(validation.coupon){ %>
                        <p style="color:red ;">Coupon already exist !!!</p>
                        <% } %>   
                    <button type="submit" class="btn btn-primary mt-3">Add Coupon</button> 
                    
                </form>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <script>
    	$(document).ready(function () {
    		$('#example').DataTable({
      		  "pageLength": 5
    		});
			});
  </script>

<%- include('../layout/footer.ejs')  %> 